.DS_Store
.idea
__pycache__
.vscode
sem_2/C/lab_works/tamplate_directiry/
**/build/**
*.o
*.exe
*.docx
*.png
*.jpg
*.jpeg
*.d
*.dot
*.txt
.devcontainer
!**/data/*.txt
**/private/**
**/oop/**/build
**/.qtcreator/**
